/* line 3, ../sass/screen.scss */
.nvb_gptb > .nav-container {
  background: #333333;
  z-index: 999;
  width: 100%;
  height: 60px;
}
/* line 9, ../sass/screen.scss */
.nvb_gptb .li-list {
  list-style: none;
  overflow: hidden;
  padding: 0;
}
/* line 15, ../sass/screen.scss */
.nvb_gptb .container {
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
}
/* line 20, ../sass/screen.scss */
.nvb_gptb .container li {
  width: 110px;
  height: 60px;
}
